.heading {
  width: 100%;

  font-family: Roboto Slab, georgia, serif;
  font-size: 1rem;

  border: 0;

  @media (min-width: 1200px) {
    padding-right: 0;
    padding-left: 0;
  }
  
  @media (max-width: 599px) {
    font-size: 0.75rem;
  }

  &--other {
    font-size: 3rem;
	@media (max-width: 399px) {
	  font-size: 2.25rem;
	}
  }
  
  &--one {
    margin-bottom: 60px;
    font-size: 4.5rem;
	@media (max-width: 599px) {
	  font-size: 3.75rem;
	}
	@media (max-width: 399px){
	  font-size: 3rem;
	}
  }
  
  &--two {
    font-size: 2.25rem;
	@media (max-width: 399px){
	  font-size: 1.5rem;
	}
  }

  &--three {
    font-size: 1.5rem;
	@media (max-width: 599px) {
	  font-size: 1.5rem;
	  letter-spacing: -1px;
	}
  }
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.white {
  color: white;
}

