.text {
  margin-top:2.25rem;

  &__p {
    padding-bottom: 4.5rem;
  }
  
  &__pp{
    margin-bottom: $gutter;
  }
  
  &__input{
    width: 100%;
  }
}

@keyframes sublime{
  0%{color: white;}
  50%{color: rgb(250,250,250)}
  100%{color:white;}
}

.invisible {
  color: white;
  animation-name: sublime;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.button-area {
  margin: ($gutter*6);
  @media (max-width: 399px) {
    margin-left: ($gutter*3);
	margin-right: ($gutter*3);
  }
}

.bottom--border{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
}

.vert-align {
  max-height: ($gutter*8);
  min-height: ($gutter*4);
}

.big--space {
  margin-bottom: ($gutter*16);
}

.padd {
  padding: $gutter;
}

.quote {
  margin:($gutter*2);
  width: ($gutter*16);
  max-width: 35%;
  float: right;
  
  &--props{
    font-size: 0.75rem;
  }
}